<nav class="navbar navbar-expand-lg maincolor py-3 fixed-top">
    <div class="container">
      <a class="navbar-brand text-uppercase display-2 fs-2 fw-semibold text-white" routerLink="home"  >start framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fw-semibold fs-5 text-white me-2" aria-current="page" href="#" routerLink="about" routerLinkActive="maingreen rounded-2">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold fs-5 text-white me-2" href="#" routerLink="portfolio" routerLinkActive="maingreen rounded-2">portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold fs-5 text-white me-2" href="#" routerLink="contact" routerLinkActive="maingreen rounded-2">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
