<section class="my-5">
    <div class="container">
        <div class="head">
            <h1 class="text-uppercase py-3 fw-bolder text-center">contact section</h1>
            <div class="lines d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3"></div>
            </div>
        </div>
        <div class="container d-flex flex-column justify-content-center align-items-center my-3">
            <input type="text" placeholder="Username" class="inputs w-75">
            <input type="text" placeholder="User Age" class="inputs w-75">
            <input type="email" placeholder="User E-mail" class="inputs w-75">
            <input type="password" placeholder="User Passwoed" class="inputs w-75">
            <div class="container">
                <button class="border-0 p-2 my-3 rounded-2 text-white maingreen my-margin">Send Message</button>
            </div>
        </div>
    </div>
</section>
