<section class="maingreen py-5 text-white mt-5">
    <div class="container d-flex flex-column justify-content-center align-items-center my-5">
        <img src="/assets/avataaars.svg" class="w-25" alt="">
        <h1 class="text-uppercase py-3 fw-bolder">start framework</h1>
        <div class="lines d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>
